html, body {
    .color();
    height:100%;
    font-family:@font_text;
    margin:0;
    padding:0;
    &, * {
        box-sizing:border-box;
    }
}

html {
    @media (min-width: @max_bp) {
        font-size:@em;
    }
    @media (min-width: @min_bp) and (max-width: @max_bp) {

        @fx: (@min_width - @max_width) * @em * @lw / (@max_width * @min_width * @lw - @max_width * @max_width);
        @fpx: -1 * (@max_width * @fx - @em * @lw) / @lw;
        @fvw: unit(@fx * 100, vw);

        font-size: ~"calc(" @fvw ~" + " @fpx ~")";
    }
    @media (max-width: @min_bp) {
        font-size: unit(@em / (@max_width / @lw) * 100 / @lw, vw);
    }
}

body {
    overflow-x:hidden;
}

//@namespace:theme--floxim--basic--;

.@{namespace}layout {
    width:100%;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    &__section_content {
        flex:1;
    }
    transition: opacity 0.2s ease;
}

// добавляем position:relative для контейнеров внутри шапки/футера, чтобы перекрыть тени
// хак =(
.fx-container {
    position:relative;
}
a {
    color:inherit;
}

a img {
    border:none;
}

.fx-container_height_grow {
    flex-grow:1;
}

.fx-container_width_container {
    min-width:100%;
    align-self:stretch;
}

.fx-container_width_layout {
    &.fx-content_parent-width_full, &.fx-content_parent-width_container {
        .layout_width();
    }
}

.fx-container_width_full-outer, .fx-container_width_full {
    align-self:stretch;
}

.fx-container {
    display:flex;
    &_width_custom, &_width_auto {
        &.fx-container_align {
            &_left {
                align-self: flex-start;
                align-items: stretch;
            }
            &_center {
                align-self: center;
                align-items: center;
            }
            &_right {
                align-self: flex-end;
                align-items: flex-end;
            }
        }
    }
    &_valign {
        &_top {
            justify-content:flex-start;
        }
        &_middle {
            justify-content:center;
        }
        &_bottom {
            justify-content:flex-end;
        }
        &_stretch {
            justify-content:stretch;
        }
    }
}

.show-grid {
    position:fixed;
    z-index:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    align-items:stretch;
    opacity:0.5;
    max-height:10px;
    #__column {
        border-right:1px dashed #EEE;
        flex-grow:1;
        &:nth-child(2n) {
            background:#EEE;
            border-right:1px dashed #AAA;
        }
    }
}